/* Body */
body {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 15px;
}

/* Header */
.header {
  background-color: #1F1A17;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
}

/* Logo */
.logo-container img {
  max-height: 26px;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: auto;
}

img {
  margin-left: 25px;
  max-width: 450px;
  height: auto;
}

.contact-button {
  background-color: #1F1A17;
  border-radius: 0px;
  padding: 8px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.white-section {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Change align-items to flex-start */
  margin-top: -15px; /* Add margin-top to move the entire section up */
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 500px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(5, 87, 39, 0.2);
  margin-bottom: 20px;
}

.search-bar .animated-placeholder {
  font-size: 20px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  animation: placeholder-animation 4s steps(13) 1;
}

@keyframes placeholder-animation {
  0% {
    width: 0;
  }
  100% {
    width: 31%;
  }
}

.search-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  stroke: currentColor;
  position: absolute;
  left: 10px;
}

/* Center the bullet points */


.bullet-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 20px;
}

.bullet-points li {
  position: relative;
  font-size: 20px;
  color: #333333;
  margin-bottom: 20px;
  list-style-type: none;
}

.bullet-points li:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #28cc93;
}





/* Footer */
footer {
  background: linear-gradient(360deg, rgb(45, 49, 47) 60%, rgb(93, 102, 98) 100%); 
  color: rgb(250, 250, 250);
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 84px;
  margin-bottom: 2px;
  height: 38px;
}

.footer-left {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.footer-left p {
  margin: 10px;
  font-size: 15px;
}

footer img {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
  transform: rotate(90deg);
  height: auto;
  margin-top: -58px;
  width: 80px;
  margin-right: 2px;
  margin-bottom: 2px;
}

footer div {
  flex-grow: 1;
}

.launching-soon {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  font-weight: bold;
  position:relative;
  text-align: center;
  margin-top: 20px;
}

.black-text-2 {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.green-text-2 {
  color: #28cc93;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  font-weight: bold;
}

@media only screen and (min-width: 1580px) {
  .contact-button {
    margin-left: 150px;
  }  

  img {
    margin-left: 25px;
    max-width: 600px;
    height: auto;
  }

  
  .white-section {
    margin-top: 20px;
  }
 

  .launching-soon {
    font-size: 40px;
    margin-top: 20px;
  }

  /* Center the bullet points */
.bullet-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-top: 60px;
  padding-left: 20px;
}
  
}

.contact-button:hover {
  background-color: #212524;
}

main {
  background: rgb(253, 255, 254);
  background: linear-gradient(180deg, rgb(226, 231, 227) 10%, rgb(255, 255, 255) 100%);
  color: #118a3f;
  padding: 20px;
  text-align: center;
}

main h2 {
  margin-top: 5px;
}

/* Define styles for the two spans */
.black-text {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.green-text {
  color: #28cc93;
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

/* White section */
.white-section {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


/*For smaller screen*/

@media only screen and (max-width: 768px) {
  .white-section {
    flex-direction: column;
    align-items: stretch;
  }
}


.contact-form-container {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-form-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #1F1A17;
}

.contact-form-container h1 span.black-text {
  color: black;
}

.contact-form-container h1 span.green-text {
  color: #28cc93;
}


.contact-form-container label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  color: #1F1A17;
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container textarea {
  border: 2px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form-container textarea {
  height: 150px;
}

.contact-form-container button[type="submit"] {
  background-color: #28cc93;
  border: none;
  color: #fff;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.contact-form-container button[type="submit"]:hover {
  background-color: #4a8a4a;
}
